.cantidad-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .carrito-cantidad {
        font-size: 1rem;
        font-weight: 600;
    }

    .icon-restar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1a893f41;
        width: 15px;
    }

    .icon-sumar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1a893f78;
        width: 15px;
    }
}

@media screen and (min-width:900px) {
    .cantidad-contenedor {

        .carrito-cantidad {
            font-size: 1.5rem;
        }

        .icon-restar {
            background-color: #1a893f41;
        }

        .icon-sumar {
            background-color: #1a893f78;
        }
    }
}