.cantidad-contenedor{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

    .carrito-cantidad{
        font-size: 1.5rem;
        font-weight: 600;
    }

    .icon-restar{
    background-color: #1a893f41;
    }

    .icon-sumar{
        background-color: #1a893f78;
    }
}