.carrito-contenedor{
display: flex;
flex-direction:column;
align-items:center ;
width: 100%;
background-color:rgba(252, 255, 250, 0.725);

    .carrito-titulo{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
    }

    .carrito-item{
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content:space-around;
        align-items: center;
        margin: 2%;
        border-radius: 10%;
        box-shadow: 5px 15px 30px black;

        &-verde{
            background-color: rgba(26,137,63,255);
        }
        &-rosa{
            background-color: #f3a17c;
        }
        
    
    
        .carrito-img{
            width: 250px;
            border-radius: 10%;
            box-shadow: 10px 10px 30px black;
            
        }
    
        .carrito-nombre{
            margin-left: 1%;
            font-weight: 700;
        }
    
        .carrito-unitario{
            font-size: 1.5rem;
            font-weight: 600;
        }
        
        
    
        .carrito-total{
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    .carrito-totalcompra{
        display: flex;
        flex-direction: row;
        
        font-size: 2rem;
        font-weight: 700;
        color: red;

    }
}