.header {
    background-color: rgba(26, 137, 63, 255);
    position: sticky;
    z-index: 2;
    top: 0px;
    height: max-content;
    width: 100vw;

    .header__container {
        max-width: 70%;
        display: flex;
        margin: 0 auto;
        padding: 10px 20px 0px 10px;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            margin: 5px;
            width: 20%;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-content: center;
            gap: 20px;


            .navbar__link {
                text-decoration: none;
                font-size: 18px;
                margin: 0.4rem;
                font-weight: 600;
                color: white;
                text-transform: uppercase;
                cursor: pointer;
                text-shadow: 8px 8px 8px black;
            }
        }
    }

    .user {
        max-width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: rgba(0, 0, 0, 0.698);
        padding: 10px;

        
    }
}