.app-container{
    background-image: url("https://github.com/Micromundofede22/ProyectoFinalFolmer/blob/main/image/fondoindex.jpg?raw=true");
    background-size: cover;
    background-attachment: fixed;
};