.slider-container{
    margin:2rem;
    overflow-x: hidden;

    .slider{
        display: flex;
        cursor: grab;

        .item{
            min-width: 30rem;
            height: 20rem;
            padding: 2rem;

            .item-img{
                width: 90%;
                // evita que se pueda arastrar una imagen, que por defecto las imagenes tienen el evento de poder seleccionarlas
                // el div se pone por encima
                pointer-events: none;
                border-radius: 5%;
                box-shadow: 5px 10px 20px black;
            }

        }
    }
}

@media screen and (min-width:900px) {
    .slider-container{
        margin:3rem;
        .slider{
            .item{
                min-width: 40rem;
                height: 30rem;
                .item-img{
                    width: 90%;
                }
    
            }
        }
    }
}